.btn-circle {
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}
.custom-height {
  height: 10vh;
}
.custom-font-size{
  font-size: 17px;
}