.problemBody {
    background-color: #1E1E1E;
    height: 45vh;
    width: 100% !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E1E1E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}