.overview-block {
  position: absolute;
  width: 1200px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#title {
  font-size: 65px;
  font-family: "Montserrat";
  color: #218838;
}
